extends base

block title
	title= '友链 - ' + site.title

block content
	.four
		h2
            a(href='http://www.ccava.net/')(target='_blank')
                ='漫步白月光<br/>'
		h2
            a(href='https://zmoe.me/')(target='_blank')
                ='zmoe的小站<br/>'
		a(href='/')
			返回首页

      